body {
  /*background-color: #9bbc0f;*/
  background-image: url(PiskelBig.png);
  margin:0;
}

nav {
  margin: 0 0;
  height: 115px;
  width:100%;
  border: 1px solid black;
  padding: 0px;
  background-color: #AAAAAA;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  font-family: 'Lobster Two', Helvetica, sans-serif;
  position:fixed;
  z-index:6875309;
}

.ISUseal{
  margin:5px 0px;
  padding:0;
  width:94px;
  height:94px;
  grid-column: span 1;
}

.dummycolumn {
  grid-column: span 1;
  margin:45px;
  height:60px;
  text-align: center;
}

.dummycolumn a{
  background-color: red;
  color:white;
  text-decoration: none;
  font-size: larger;
  padding:25px;
  margin:30px;
  border-radius: 2000px;
  transition: background-color 0.5s, color 0.5s;
}

.dummycolumn a:hover{
  background-color: darkred;
  color:lightgray;
}

.headlink{
  grid-column: span 1;
  padding:0px;
  margin:3px 50px;
  height:60px;
  width:200px;
  text-align: center;
  font-size: x-large;
}

.headlink a{
  background-color: none;
  color:black;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  width: 1080px;
  border: 1px solid black;
  padding:200px 100px 50px 100px;
  background-color: #FFF7E1;
  text-align: center;
}

.wrapperfix{
  height: 600px;
}

#wrapper h1{
  border-bottom: 5px solid black;
}
#wrapper h2{
 padding-top: 15px;
}

main{
  margin:20px;
  font-size: large;
}

.pImg{
  width: 240px;
  float:left;
  margin-right:100px;
  margin-bottom:100px;
  
}

.Gallery{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 600px;
}

.medImg{
  grid-column: span 1;
  padding:20px;
  margin: 20px 0;
  /*border:1px solid black;*/
}

.medImg2{
  width:260px;
  border: 2px solid grey;
}

/*.largeImg{
  grid-column: span 2;
  padding:20px;
  margin: 20px 0;
  border:1px solid black;
}

.fullImg{
  grid-column: span 3;
  padding:20px;
  margin: 20px 0;
  border:1px solid black;
}*/

#myCarousel {
  margin-bottom: 24px;
  width: 1040px;
}

#myCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}

#myCarousel2 {
  margin-bottom: 24px;
  width: 1040px;
}

#myCarousel2 .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}

#fdiv{
  text-align:center;
}

#myCarousel img{
  width:70%;
}

#myCarousel2 img{
  width:70%;
}

.socials{
  font-size: x-large;
}

footer{
  background-color: red;
  margin: 0 auto 100px auto;
  border:1px solid black;
  width: 1280px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
}

.ISUbanner{
  padding:20px 980px 20px 20px;
}

.corn{
  height:400px
}

